body {
  font-family: Arial;
  padding: 20px;
  background: #f4f4f4;
}

h1 {
  text-align: center;
}

.form {
  text-align: center;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 15px;
  background: rgb(202, 109, 109);
  color: black;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}
